
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
        <title>Customer</title>
        <!-- Ext -->
        <script type="text/javascript" src="~/shared/include-ext.js"></script>
        <script type="text/javascript" src="~/shared/options-toolbar.js"></script>

        @*<script language="JavaScript" src="~/classic/classic/src/grid/RowEditor.js" type="text/javascript"></script>*@

        <link rel="stylesheet" type="text/css" href="~/shared/examples.css" />

        @*Uses static and rtl theme.*@
        @*<link rel="stylesheet" type="text/css" href="~/build/classic/theme-neptune/resources/theme-neptune-all-rtl.css">*@
        <link href="~/build/classic/theme-classic/resources/theme-classic-all-rtl.css" rel="stylesheet" />
        <script type="text/javascript" src="~/build/ext-all-rtl.js"></script>


        <script>
            //Ext.application({
            //    name: 'MyApp',
            //    launch: function () {

            //        Ext.create('Ext.container.Viewport',
            //            {
            //                //autoScroll: true,
            //                scrollable: true,
            //                //layout: 'border',
            //                //xtype: 'panel', // This your UserGrid
            //                renderTo: Ext.getBody(),
            //                //margin: '100 100 100 100',
            //                layout: 'fit',
            //                region: 'center',
            //                //html: "<div id='crud-grid'></div>",
            //                rtl: true,
            //                title: 'East Panel',
            //                //html: "hello I am a bunch of text"
            //            }
            //        )
            //    }
            //});
        </script>

        <style type="text/css">

            .invalidCell {
                background-color: red
            }

            .icon-user-add {
                background-image: url(~/shared/icons/fam/add.gif) !important;
            }

            .icon-user-delete {
                background-image: url(~/shared/icons/fam/delete.gif) !important;
            }

            .icon-user-save {
                background-image: url(~/shared/icons/fam/accept.gif) !important;
            }
        </style>



        <!-- GC -->

        <script type="text/javascript" src="~/shared/examples.js"></script>
        @*<script type="text/javascript" src="~/Scripts/test-extjs.js"></script>*@
        @*<script type="text/javascript" src="~/Scripts/cust.gird.extjs.js"></script>*@


        @*<script type="text/javascript" src="~/Views/CustomerExtJS/CustomerView.js"></script>*@
        @*Priority of script loading is important*@

        @Scripts.Render("~/Scripts/Models/customer.model.js")
        @Scripts.Render("~/Scripts/ViewModels/customer.view-model.js")
        @Scripts.Render("~/Scripts/Views/customer.view.js")
    </head>

<h2>Index</h2>


@*<div id="crud-grid" style="margin-top:200px;width:100%;">*@

@*</div>*@
