@model Customer.ServiceLayer.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewCustomer</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
